/* Unica One */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

h1 {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

p{
  font-family: "Unica One", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}

.button_services{
    font-family: "Unica One", serif;
    font-size: 23px;
}

li{
    font-size: 20px;
}
