.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.button_services{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px;
    margin-right: 20px;
}


